body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ******* CUSTOM CLASSES ******** */
.container {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-gap: 30px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
  margin-top: 25px;
}

/* INCOME */
.income-form {
  grid-column: 2 / 3;
  grid-row: 2;
  padding: 25px 100px;
  /* border: 2px solid grey; */
  background-color: rgb(255, 255, 250);
}
.income-form .salary-input {
  /* margin-bottom: 20px; */
}
/* END INCOME */

/* ** Remove step/arrows from number input *** */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* ******************************************** */

/* .box-title {
  text-align:center;
} */

/* BUDGET */
.budget {
  grid-column: 2 / 4;
  grid-row: 3;
}
.budget-box {
  width: 100%;
  border: 2px solid grey;
  padding:25px;
  text-align: center;
  font-size: 18px;
}
.budget-box .key {
  font-weight:700;
}
.budget-box .info {
  font-style: italic;
  font-weight: 500;
}
.budget-box .needs {
  color: red;
}
.budget-box .wants {
  color: blue;
}
.budget-box .savings-amount {
  margin: 25px auto 0 auto;
}
.budget-box .savings {
  color: green;
}
.budget-box .result {
  font-weight:700;
  text-decoration: underline;
}
.budget-box .original-val {
  font-size: .75em;
  font-style: italic;
}
/* END BUDGET */


/* EXPENSES */
.expenses {
  grid-column: 1 / 3;
  grid-row: 3;
}

.expenses-box {
  width: 100%;
  border: 2px solid grey;
  padding:13px;
  text-align: center;
  font-size: 18px;
}
.expenses-box .key {
  font-weight:700;
}
.expenses-box .info {
  font-weight: 700;
}


.expense-list {
  margin: 15px auto;
}
.expense-label-want {
  color:blue;
  font-style: italic;
  font-weight: 600;
  margin: 0 7px;
}
.expense-label-need {
  color:red;
  font-style: italic;
  font-weight: 600;
  margin: 0 7px;
}
.expense-amount {
  font-weight: 500;
}
.expense-type-want {
  color: blue;
}
.expense-type-need {
  color: red;
}

.expense-form {
  margin: 2px auto;
}

.add-expense-button {
  display: block;
  margin: 15px auto;
}
/* END EXPENSES */


/* LEFTOVER */
.leftover {
  grid-column: 2 / 3;
  grid-row: 5;
}
/* END LEFTOVER */


/* SAVINGS */
.savings {
  grid-column: 3 / 4;
  grid-row: 3;
}

.savings-box {
  width: 100%;
  border: 2px solid grey;
  padding:13px;
  text-align: center;
  font-size: 18px;
}
/* END SAVINGS */


/* RESET */
.reset {
  grid-column: 1 / 4;
  grid-row: 4;
  margin: 0 auto;
}
/* END RESET*/
