@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Noto Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body h1,
h2,
span {
  color: rgb(50, 50, 50);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CUSTOM CLASSES */
.container {
  /* display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-gap: 30px; */
  /* justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center; */
  margin: 0 auto;
}

.header {
  /* grid-column: 1 / 4;
  grid-row: 1; */
  margin-top: 25px;
  font-size: 25px;
  text-align: center;
}
.header .small-funny-text {
  display: block;
  font-size: 8px;
  margin: 0 auto;
  text-align: center;
}
.header .version-number {
  font-weight: 600;
  font-size: 18px;
}

.header-title {
  text-align: center;
  text-shadow: 2px 2px lightgrey;
  font-weight: 600;
  display: inline-block;
}

.title {
  text-align: center;
  text-shadow: 1px 1px lightgrey;
  font-weight: 500;
}

.img {
  max-width: 50px;
  max-height: 25px;
  display: inline-block;
  /* margin-bottom: 9px; */
}

.hide {
  display: none;
}
/* END CUSTOM CLASSES */

/* INCOME */
.income-form {
  /* grid-column: 2 / 3;
  grid-row: 2; */
  padding: 15px 50px;
  margin: 15px auto;
  /* background-color: rgb(255, 255, 250); */
  text-align: center;
  width: 100%;
}
.income-form .salary-input {
  /* margin-bottom: 20px; */
  box-shadow: 3px 2px grey;
}
/* END INCOME */

/* ** Remove step/arrows from number input *** */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* ******************************************** */

/* BUDGET */
.budget {
  /* grid-column: 2 / 4;
  grid-row: 3; */
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}
.budget-box {
  width: 75%;
  border: 2px solid lightgrey;
  box-shadow: 3px 2px grey;
  padding: 25px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
.budget-box .key {
  font-weight: 700;
}
.budget-box .info {
  font-size: 0.75em;
  /* font-style: italic; */
  font-weight: 500;
}
.budget-box .needs {
  color: orange;
  font-weight: 600;
}
.budget-box .wants {
  color: blue;
  font-weight: 600;
}
.budget-box .savings-amount {
  margin: 25px auto 0 auto;
}
.budget-box .savings {
  color: green;
  font-weight: 600;
}
.budget-box .result {
  font-weight: 700;
  /* text-decoration: underline; */
}
.budget-box .original-val {
  font-size: 0.65em;
  font-weight: 600;
}
.budget-box .overall-savings {
  color: rgb(0, 102, 17);
  font-size: 1.15em;
  font-weight: 800;
}
/* END BUDGET */

/* EXPENSES */
.expenses {
  /* grid-column: 1 / 3;
  grid-row: 3; */
  width: 100%;
  /* text-align: center; */
  margin: 0 auto;
  display: inline-block;
}
.expenses-box {
  /* min-height: 311px; */
  width: 75%;
  border: 2px solid lightgrey;
  box-shadow: 3px 2px grey;
  padding: 25px;
  margin: 0 auto;
  font-size: 18px;
}
.expenses-box .add-expense-button {
  margin: 0 auto;
  text-align: center;
}
.expenses-box .show-hide-expenses-form-button {
  margin: 25px auto 0 auto;
  text-align: center;
}
.expenses-box .expense-input-field {
  /* display: inline-block; */
  margin: 2px auto;
  line-height: 2px;
}
.expenses-box .radio-label {
  padding-left: 5px;
}
.expenses-box .key {
  font-weight: 700;
}
.expenses-box .info {
  font-weight: 700;
}
.expenses-box .hide {
  display: none;
  transition-property: display transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
.expenses-box .show {
  display: block;
  transition-property: display transform;
  transition-timing-function: ease-in-out;
  transition-duration: 1.5s;
}
.expenses-box .expenses-form-container {
  margin: 25px auto 0 auto;
  text-align: center;
}
.expenses-box #expense-type-radio-buttons-group-label {
  display: block;
}
.expenses-box .radio-buttons {
  display: inline;
}
.expenses-box .radio-buttons-group {
  margin: 10px auto;
}
/* END EXPENSES*/

/* EXPENSE */
.expense-list {
  /* display: grid;
  grid-template-columns: 120px 120px;
  grid-gap: 30px; */
  /* justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center; */
  margin: 15px auto;
}
#expense-title-needs {
  color: orange;
  font-weight: 600;
}
#expense-title-wants {
  color: blue;
  font-weight: 600;
}
.expense-list .vertical-line {
  border-left: 2px solid lightgrey;
  /* position: relative;
  left: 15; */
}
.expense-list .expense-divider {
  margin: 5px auto;
}
.expense-list .btn-close {
  /* grid-column: 1/2; */
  position: absolute;
  width: 2px;
  height: 2px;
}
.expense-column-needs {
  /* grid-column: 1/2; */
}
.expense-column-wants {
  /* grid-column: 2/2; */
}
.expense-label-want {
  color: blue;
  /* text-decoration: underline; */
  font-size: 15px;
  font-weight: 500;
  margin: 0 7px;
}
.expense-label-need {
  color: orange;
  /* text-decoration: underline; */
  font-size: 15px;
  font-weight: 500;
  margin: 0 7px;
}
.expense-amount {
  font-size: 17px;
  font-weight: 600;
}
.expense-type-want {
  color: blue;
}
.expense-type-need {
  color: orange;
}
/* END EXPENSE */

/* SAVINGS */
.savings {
  /* grid-column: 3 / 4;
  grid-row: 3; */
}

.savings-box {
  width: 100%;
  border: 2px solid lightgrey;
  padding: 13px;
  text-align: center;
  font-size: 18px;
}
/* END SAVINGS */

/* RESET */
.reset {
  /* grid-column: 1 / 4;
  grid-row: 4; */
  margin: 50px auto 10px auto;
  /* position: absolute; */
  /* right: 100px; */
  text-align: center;
}
/* END RESET*/

/* MOBILE STYLES */
@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
  }
  .income {
    width: 100%;
    margin: 10px auto;
  }
  .expenses {
    width: 100%;
    margin: 10px auto;
  }
  .budget {
    width: 100%;
    margin: 10px auto;
  }
  .reset {
    margin: 10px auto;
  }
}
/* END MOBILE STYLES */
